.perspective {
    perspective: 3000px;
  }
  
  .cube {
    width: 12rem;
    height: 12rem;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(-30deg);
  }
  
  .face {
    position: absolute;
    width: 12rem;
    height: 12rem;
    border: 1px solid black;
  }
  
  .front {
    transform: rotateY(0deg) translateZ(6rem);
  }
  
  .back {
    transform: rotateY(180deg) translateZ(6rem);
  }
  
  .left {
    transform: rotateY(-90deg) translateZ(6rem);
  }
  
  .right {
    transform: rotateY(90deg) translateZ(6rem);
  }
  
  .top {
    transform: rotateX(90deg) translateZ(6rem);
  }
  
  .bottom {
    transform: rotateX(-90deg) translateZ(6rem);
  }
  