.cube3d {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out; 
}

.face3d {
  position: absolute;
  width: 12rem;
  height: 12rem;
  border: 1px solid black;
  transition: transform 0.5s ease-in-out;
}

.front3d {
  transform: rotateY(0deg) translateZ(6rem);
}

.back3d {
  transform: rotateY(180deg) translateZ(6rem);
}

.left3d {
  transform: rotateY(-90deg) translateZ(6rem);
}

.right3d {
  transform: rotateY(90deg) translateZ(6rem);
}

.top3d {
  transform: rotateX(90deg) translateZ(6rem);
}

.bottom3d {
  transform: rotateX(-90deg) translateZ(6rem);
}

.cube2d {
  translate:-5rem -3rem;
  gap: 0;
  transition: transform 1s ease-in-out; 
}

.face2d {
  position: absolute;
  border: 1px solid black;
  width: 9rem;
  height: 9rem;
  transition: transform 0.5s ease-in-out; 
}

.front2d {
  transform: translate(-4rem, 0);
}

.left2d {
  transform: translate(-14rem, 0);
}

.right2d {
  transform: translate(6rem, 0);
}

.back2d {
  transform: translate(16rem, 0);
}

.top2d {
  transform: translate(-4rem, -10rem);
}

.bottom2d {
  transform: translate(-4rem, 10rem);
}
